<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login success</title>
</head>
<body>
login success,
<div>welcome ! {{ user.username }} your email is {{ user.email }}</div>

<a href="/USER/logout">logout</a>
</body>
</html>