<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/USER/loginUser?next={{ request.GET.next }}" method="post">
    {% csrf_token %}

    <label>U:</label>
    <input type="text" name="username"><br>
    <label>P:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>