<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.js" %}"></script>
    <title>register</title>
</head>
<body>
<form action="/USER/registerUser" method="post">
    {% csrf_token %}
    <label>U:</label>
    <input type="text" name="username"><br>
    <label>P:</label>
    <input type="password" name="password"><br>
    <label>E:</label>
    <input type="email" name="email"><br>

    <input type="submit" value="submit">
</form>
</body>
</html>