<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>cart_list</title>
</head>
<body>
<a href="/ORDER/goods_list">返回购物</a>
<a href="/USER/logout">logout</a>
<table style="text-align: center">
    <tr>
        <th style="width: 100px;">名称</th>
        <th style="width: 150px;">描述</th>
        <th style="width: 50px;">数量</th>
    </tr>
    {% for item in carts %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.desc }}</td>
            <td >{{ item.number }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>