<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>goods_list</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/goods_list.js" %}"></script>
</head>
<body>

<div><a href="/ORDER/cart_list">购物车</a></div>
<a href="/USER/login?next={{ request.path }}">Login</a>

<div><a href="/USER/logout">logout</a></div>
{% for item in goods %}
    <div style="text-align: center;display: inline-block;width:220px;border:1px solid #ccc">
        <img src="{{ item.image }}">

        <div>{{ item.title }}</div>
        <div>{{ item.desc }}</div>
        <div style="color: orangered">$ {{ item.price }}</div>
        <button class="add-to-cart">
            {% csrf_token %}
            <input class="goods-id" type="hidden" value="{{ item.id }}">
            加入购物车
        </button>
    </div>
{% endfor %}
</body>
</html>